@import "./variables";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
    height: 100%;
    background-color: $gray;
}

.card{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}

.nav{
    position: fixed;
    z-index: 100;
    height: 100vh;
    background-color: $white;
    align-items: center;
    border-radius: 10px;
    li{
        list-style: none;
        a{
            color: $black;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 0.5rem 0.5rem;
            border-radius: 5px;
            transition: $transition;
        }
    }
}

.header{
    padding-top: 15px;

    .header-right{
        display: flex;
        flex-direction: row;

        #search-button{
            position: relative;
            left: -60px;
        }
        
        #search{
            width: 60%;
        }
    }
   
}

.nav__list{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        .active{
            background-color: $primary;
            color: $white;
            .material-symbols-rounded{
                color: $white;
            }
        }

        #chat__button{
            position: fixed;
            bottom: 20px;
            z-index: 100;
        }

        #logo{
            position: fixed;
            top: 20px;
            z-index: 100;
            height: 50px;
            width: 50px;
            border: none;
            transition: all 0.3s ease-in-out;
            background-color: $gray;
            border-radius: 50%;
            padding: 10px;
        }
    }

.material-symbols-rounded{
    font-size: 2rem;
    color: $black;
    cursor: pointer;
}

.nav button, .header-right button{
    height: 50px;
    width: 50px;
    border: none;
    transition: all 0.3s ease-in-out;
    background-color: $gray;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    &:hover{
        background-color: $dark-gray;
        color: $white;
    }
}

#view{
    margin: 1% auto ;

    #map{
        height: 40vh;
        border-radius: 10px;
        background-image: url("../resources/img/manual-warehouse.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#stock-cards-container{
    justify-content: space-between;
    .stock-card{
        background-color: $gray;
        border-radius: 10px;
        span{
        text-align: justify;
    }
} 
}

.card-button{
    position: absolute;
    width: 15%;
    top: 20px;
    right: 15px;
}

.items{
    overflow-y: scroll;
    height: 20vh;
}

.search-inventory{
    width:100%
}

.search-icon{
    position: relative;
    float: right;
    top: -38px;
    right:10px
}

.items .card{
    background-color: $gray;
}

#dropdownMenuButton{
    background-color: $white;
    color: $black
}

.counter-cards{
    margin: 2% 0;
    
    .counter-buttons{
        background-color: $gray;
        padding: 10px;
        margin: 2%;
        border-radius: 20px;
        text-align: center;
    }
}

.icon-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orders-view span{
    color: $primary;
}

// a scrollable table-body class
.table-body{
    overflow-y: scroll;
    height:600px;
}

.dash-buttons span{
    color: $primary;
}